<div class="main">
  <div  class="timer">
    <p>{{timer}}</p>
  </div>

    <button id="start" class="start" >Start/Stop</button>
    <button id="wait" class="wait">Wait</button>
    <button id="reset" class="reset">Reset</button>
  <form #myForm="ngForm" id="setTime" (ngSubmit)="setTime(hours.value, minutes.value, seconds.value)" >
    <label class="hours" for="hours">Set Hours</label>
    <input ngModel  name="hours" id="hours" class="hours_input" type="number" placeholder="0" min="0" #hours>
    <label class="minutes" for="minutes" >Set Minutes</label>
    <input ngModel name="minutes" id="minutes" class="minutes_input" type="number" placeholder="0"  value="0" min="0" #minutes>
    <label class="seconds" for="seconds">Set Seconds</label>
    <input ngModel name="seconds" id="seconds" class="seconds_input" type="number" placeholder="0"  value="0" min="0" #seconds>
    <input type="submit" class="setTime" value="Set Time">
  </form>
</div>

<router-outlet></router-outlet>
